:root {
	--index: 1vh + 1vw;
	--blue-color: #0064b0;
}

html,
body {
	padding: 0;
	margin: 0;
	width: 100%;
	height: 100%;
	position: relative;
	font-family: "PF Highway Sans Pro", Arial, Helvetica, sans-serif !important;
}

body * {
	font-family: "PF Highway Sans Pro", Arial, Helvetica, sans-serif !important;
}

.simple_flex {
	display: flex;
}

.justify_flex {
	justify-content: center;
	margin: 0 auto;
}

.align_flex {
	align-items: center;
}

.container_header {
	padding: 0 20px;
	max-width: 1720px;
	width: 100%;
	justify-content: space-between;
}

header .mobile_header {
	display: none;
	justify-content: space-between;
	padding: 15px 10px;
	background: #fff;
	position: relative;
}

header .mobile_header .logo_mobile {
	position: relative;
	z-index: 16;
}

header .mobile_header .logo_mobile .white_logo {
	transition: all ease 0.4s;
	position: absolute;
	opacity: 0;
}

header .mobile_header .logo_mobile .logo_blue {
	transition: all ease 0.4s;
}

header .mobile_header .logo_mobile h1 {
	max-width: 170px;
	margin-left: 15px;
	font-size: 14px;
	color: var(--blue-color);
}

header {
	width: 100%;
	position: relative;
}

header .level_1 {
	position: relative;
	z-index: 4;
	padding: 2px 0;
	background: #f8f7f7;
	width: 100%;
}

.level_1__left {
	font-size: 14px;
	color: #838485;
}

.level_1__left p {
	margin: 10px 0;
}

.level_1__right > a {
	padding: 3px 16px;
	border-right: 1px solid #e7e7e7;
	font-size: 14px;
	color: #333333;
	text-decoration: none;
	transition: all ease 0.4s;
}

.level_1__right > a:last-child {
	border: none;
}

.level_1__right > a:hover {
	color: var(--blue-color);
	text-decoration: underline;
}

header .level_2 {
	z-index: 3;
	position: relative;
	width: 100%;
	height: 100px;
	background: #fff;
	box-shadow: 0px 0px 43px 0px rgba(0, 0, 0, 0.51);
}

.level_2__logo h1 {
	color: var(--blue-color);
	font-size: 16px;
	text-transform: uppercase;
	margin-left: 13px;
}

.level_2__menu {
	height: 100%;
	position: relative;
}

.level_2__menu a {
	height: 100%;
	padding: 0 35px;
	color: #5e5f60;
	font-weight: 500;
	text-decoration: none;
	transition: all ease 0.4s;
}

.level_2__menu a:hover {
	color: var(--blue-color);
	background-color: rgb(254, 254, 254);
	box-shadow: inset 0px 4px 21px 0px rgba(0, 0, 0, 0.05);
}

.level_2__menu_line {
	height: 80%;
	width: 1px;
	background: #f2f2f2;
}

.level_2__contact,
footer .level_1__contact {
	color: #999999;
	font-size: 14px;
}

.level_2__contact p > b,
footer .level_1__contact {
	font-size: 18px;
	color: #292b2c;
}

.level_2__contact .email {
	margin-left: 15px;
}

header .button_request {
	text-transform: uppercase;
	font-weight: 400;
	font-size: 14px;
	background: #f9a01b;
	border-radius: 2px;
	padding: 12px 35px;
	color: #fff;
	transition: all ease 0.4s;
	border: 2px solid #f9a01b;
}

header .button_request:hover {
	background: none;
	color: #f9a01b;
	cursor: pointer;
}

header .button_request_mobile {
	position: absolute;
	z-index: 16;
	display: none;
	padding: 7px 7px 4px 7px;
	top: 25px;
	right: 10px;
}

.header_slider {
	overflow-x: hidden;
	width: 100%;
	height: 100%;
	position: relative;
}

.header_slider .swiper-pagination {
	display: none;
}

.box_slider_content {
	width: 100%;
	height: 100%;
	position: relative;
}

.box_slider_content img {
	height: 100%;
}

.box_slider_content .text_content > div {
	padding: 20px;
}

.box_slider_content .text_content {
	align-items: flex-end;
	flex-direction: column;
	width: 100%;
	background: url(../img/slider_header/bg_text.png) center center;
	background-repeat: no-repeat;
	background-size: cover;
	color: #fff;
}

.box_slider_content .text_content .sub_title {
	text-transform: uppercase;
	max-width: 600px;
	font-size: 13px;
}

.box_slider_content .text_content h2 {
	max-width: 600px;
	font-size: 42px;
	margin: 10px 0;
}

.equipment {
	padding: 70px 10px;
	flex-direction: column;
	background: url(../img/product_bg.png) bottom left;
	background-repeat: no-repeat;
	background-color: #062d5b;
}

.equipment p {
	max-width: 580px;
	text-align: center;
	line-height: 1.4;
}

.equipment .decor_text {
	right: 50px;
	left: auto;
	color: #133d6e;
}

.equipment_slider {
	margin-top: 20px;
	overflow-x: hidden;
}

.equipment_slider .equipment_content {
	padding: 25px;
	flex-direction: column;
	background: #fff;
}

.equipment_slider .equipment_content img {
	width: 100%;
	margin-bottom: 20px;
}

.equipment_slider .equipment_content h4 {
	font-size: 20px;
	text-transform: uppercase;
	color: #292b2c;
	padding-bottom: 15px;
	border-bottom: 1px solid #e1e1e1;
	margin: 0 0 15px 0;
	position: relative;
}

.equipment_slider .equipment_content h4:after {
	content: "";
	width: 80px;
	height: 2px;
	display: block;
	position: absolute;
	bottom: 0;
	left: 0;
	background: var(--blue-color);
}

.equipment_slider .equipment_content .characteristic {
	justify-content: space-between;
	border-bottom: 1px dashed #d0cece;
	padding: 10px 0;
}

.equipment_slider .equipment_content .characteristic:last-child {
	border: none;
}

.equipment_slider .equipment_content .characteristic p {
	font-size: 15px;
	color: #666666;
	margin: 0;
}

.equipment_slider .equipment_content .characteristic span {
	font-weight: 600;
	font-size: 15px;
	color: #292b2c;
}

.equipment > h2,
.equipment > p {
	color: #fff;
}

.box_slider_content .text_content .desk_text {
	max-width: 600px;
	font-size: 18px;
	line-height: 1.5;
	margin: 0;
}

.more_button {
	font-size: 14px;
	margin-top: 30px;
	padding: 20px 25px;
	font-weight: 500;
	text-transform: uppercase;
	border: 1px solid #fff;
	background: none;
	transition: all ease 0.6s;
	color: #fff;
	border-radius: 3px;
}

.more_button:hover {
	color: #01163b;
	background: #fff;
	cursor: pointer;
}

.box_slider_content .more_button:hover svg path {
	fill: #01163b;
}

.navigation_block {
	position: absolute;
	bottom: 80px;
	right: 100px;
}

.block_absolute {
	position: relative;
	width: 100px;
}

.header_slider .swiper-button-next:after,
.header_slider .swiper-button-prev:after {
	transition: all ease 0.4s;
	background: #fff;
	border-radius: 50%;
	font-weight: 900;
	font-size: 18px;
}

.header_slider .swiper-button-next:hover:after,
.header_slider .swiper-button-prev:hover:after {
	color: #fff;
	background: #015590;
}

.header_slider .swiper-button-prev:after {
	padding: 12px 17px 12px 16px;
}

.header_slider .swiper-button-next:after {
	padding: 12px 16px 12px 17px;
}

.header_slider .more_down {
	z-index: 3;
	flex-direction: column;
	position: absolute;
	bottom: 80px;
	left: 100px;
}

.header_slider .more_down a {
	flex-direction: column;
	text-decoration: none;
}

.header_slider .more_down img {
	width: 42px;
}

.header_slider .more_button {
	margin-top: 20px;
}

.header_slider .more_down p {
	font-size: 13px;
	margin-bottom: 10px;
	font-weight: 400;
	text-transform: uppercase;
	color: #fff;
	writing-mode: vertical-rl;
	-webkit-transform: rotate(-180deg);
	-moz-transform: rotate(-180deg);
}

.header_slider .snoska {
	display: flex;
	flex-wrap: nowrap;
	position: relative;
	flex-direction: column;
}

#title_slider {
	font-weight: bold;
	max-width: 600px;
	font-size: 42px;
	margin: 10px 0;
	line-height: 1.2;
}

#title_slider #icon_info:after {
	content: "--";
	color: transparent;
	background: url("../img/slider_header/snoska.png");
	background-size: 17px;
	background-repeat: no-repeat;
	background-position: center;
	cursor: pointer;
}

.header_slider .snoska #title_slider #icon_info:hover + #TPA_info {
	display: block;
}

#TPA_info {
	-webkit-box-shadow: 0px 0px 8px 8px rgba(0, 0, 0, 0.4);
	-moz-box-shadow: 0px 0px 8px 8px rgba(0, 0, 0, 0.4);
	box-shadow: 0px 0px 8px 8px rgba(0, 0, 0, 0.4);
	z-index: 99;
	font-weight: 400;
	line-height: 1.3;
	bottom: -210px;
	right: 0;
	margin: 0;
	padding: 20px;
	color: #000;
	background: #fff;
	display: none;
	position: absolute;
	font-size: 14px;
	width: 280px;
}

.activity {
	padding: 70px 0;
	flex-direction: column;
	background: url(../img/activity_bg.png) right;
	background-size: cover;
	position: relative;
}

.title {
	font-size: 42px;
	margin: 15px 0;
	color: #292b2c;
	text-align: center;
}

.descriprions {
	font-size: 20px;
	max-width: 600px;
	text-align: center;
	color: #666666;
}

.activity .block_one,
.activity .block_two {
	z-index: 3;
	position: relative;
	background: #fdfdfd;
}

.activity .block_two {
	margin-top: 50px;
	flex-direction: row-reverse;
}

.activity .text_content {
	width: 100%;
	padding: 50px;
}

.activity .text_content h3 {
	font-size: 32px;
	color: var(--blue-color);
	margin: 10px 0;
}

.activity .block_two .text_content h3 {
	color: #ff3131;
}

.activity .text_content p {
	margin-bottom: 40px;
	color: #666666;
	font-size: 18px;
}

.activity .more_button,
.order .more_button {
	font-weight: 500;
	padding: 15px 20px;
	border-radius: 3px;
	text-decoration: none;
	color: var(--blue-color);
	border-color: var(--blue-color);
	display: flex;
	width: fit-content;
}

.activity .more_button:hover,
.order .more_button:hover {
	background: var(--blue-color);
	color: #fff;
}

.activity .more_button:hover svg path,
.order .more_button:hover svg path {
	fill: #fff;
}

.activity .block_two .more_button {
	color: #ff3131;
	border-color: #ff3131;
}

.activity .block_two .more_button:hover {
	background: #ff3131;
	color: #fff;
}

.activity .block_two .more_button svg path {
	fill: #ff3131;
}

.activity .block_two .more_button:hover svg path {
	fill: #fff;
}

.square {
	position: absolute;
	width: 25px;
	height: 25px;
	background-color: var(--blue-color);
	top: 0;
	right: 0;
}

.activity .block_two .square {
	background-color: #ff3131;
	left: 0;
}

.decor_text {
	position: absolute;
	color: #e6e6e6;
	font-size: calc(var(--index) * 4);
	left: 50px;
	writing-mode: vertical-rl;
	height: 100%;
	text-align: center;
	-webkit-transform: rotate(-180deg);
	-moz-transform: rotate(-180deg);
	margin: 0;
	font-weight: 700;
	text-transform: uppercase;
	z-index: 1;
}

.numbers .decor_text {
	right: 50px;
	left: auto;
}

.products .decor_text {
	top: 0;
	position: absolute;
	color: #133d6e;
	font-size: calc(var(--index) * 4);
	right: 50px;
	left: auto;
	writing-mode: vertical-rl;
	height: 100%;
	text-align: center;
	-webkit-transform: rotate(-180deg);
	-moz-transform: rotate(-180deg);
	margin: 0;
	font-weight: 700;
	text-transform: uppercase;
	z-index: 1;
}

.products {
	position: relative;
	padding: 70px 0;
	flex-direction: column;
	background: url(../img/product_bg.png) left;
}

.products .title {
	color: #fff;
}

.products .box_products {
	margin-top: 25px;
}

.products .main_product {
	box-shadow: 0px 0px 38px 0px rgba(0, 0, 0, 0.42);
	margin-right: 20px;
	width: 41.5%;
	background-color: #fff;
	flex-direction: column;
	padding: 50px;
}

.products .main_product h4 {
	font-size: 26px;
	color: #292b2c;
	margin: 0;
	margin-bottom: 10px;
}

.products p {
	color: #666666;
	text-align: center;
	margin: 0;
}

.equipment_slider .swiper-pagination {
}

.equipment .equipment_content .square:last-child {
	left: 0;
	right: auto;
}

.equipment .more_button {
	display: flex;
	width: fit-content;
}

.products .more_button,
.equipment .more_button {
	font-size: 16px;
	font-weight: 400;
	padding: 15px 20px;
	background: var(--blue-color);
	text-decoration: none;
	border-radius: 2px;
}

.products .more_button:hover svg path,
.equipment .more_button:hover svg path {
	fill: var(--blue-color);
}

.products .more_button:hover,
.numbers .more_button:hover,
.photos .more_button:hover,
.who .more_button:hover,
.interaction .more_button:hover,
.equipment .more_button:hover {
	border: 1px solid var(--blue-color);
	background: none;
	color: var(--blue-color);
}

.numbers .more_button,
.photos .more_button,
.interaction .more_button,
.who .more_button {
	font-size: 16px;
	font-weight: 400;
	padding: 15px 50px;
	background: var(--blue-color);
	text-decoration: none;
	border-radius: 2px;
}

.interaction .more_button {
	font-size: 14px;
}

.products .other_products {
	box-shadow: 0px 0px 38px 0px rgba(0, 0, 0, 0.42);
	width: 50%;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-auto-rows: 48.2%;
	grid-column-gap: 20px;
	grid-row-gap: 20px;
}

.products .other_products .product_small {
	width: 280px;
	height: 280px;
	flex-direction: column;
	background: #fff;
	justify-content: flex-end;
}

.products .product_slider_mobile .product_small {
	width: 300px;
	height: 350px;
	flex-direction: column;
	background: #fff;
	justify-content: center;
}

.products .product_slider_mobile .product_small h4 {
	font-size: 18px;
	margin: 5px 0;
	font-weight: 500;
}

.products .product_slider_mobile .product_small p {
	font-size: 15px;
}

.products .product_slider_mobile .product_small .more_button {
	font-size: 13px;
	margin-top: 20px;
}

.product_slider_mobile .swiper-slide {
	display: flex;
	justify-content: center;
}

.products .other_products .product_small:last-child {
	background-color: #ff3131;
	color: #fff;
}

.products .other_products .product_small h4 {
	text-align: center;
	font-weight: 500;
	margin: 5px 0;
	font-size: 18px;
}

.products .other_products .product_small p {
	font-size: 14px;
}

.products .other_products .product_small .more_button {
	font-size: 13px;
	padding: 10px 15px;
	margin: 15px 0;
}

.products .other_products .product_small:last-child .more_button {
	background: none;
	border: 1px solid #fff;
}

.products .other_products .product_small:last-child .more_button:hover {
	background: #fff;
	color: #ff3131;
}

.products
	.other_products
	.product_small:last-child
	.more_button:hover
	svg
	path {
	fill: #ff3131;
}

.container {
	z-index: 3;
	max-width: 1150px;
	width: 100%;
}

.image_slider {
	overflow-x: hidden;
	width: 100%;
	margin-right: 50px;
	position: relative;
	-webkit-box-shadow: 10px 10px 0px 0px rgba(240, 240, 240, 1);
	-moz-box-shadow: 10px 10px 0px 0px rgba(240, 240, 240, 1);
	box-shadow: 10px 10px 0px 0px rgba(240, 240, 240, 1);
}

.numbers .product_slider_mobile {
	position: relative;
}

.product_slider_mobile {
	display: none;
	width: 100%;
	overflow-x: hidden;
	margin-top: 25px;
}

.achievements_slider .swiper-wrapper.interaction__block {
	justify-content: unset;
	flex-wrap: nowrap;
}

.interaction__block {
	justify-content: space-between;
	flex-wrap: wrap;
}

.interaction .slider_interaction {
	display: none;
}

.modal {
	display: none;
	position: fixed;
	z-index: 99;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color: rgba(0, 0, 0, 0.5);
}

.close {
	cursor: pointer;
	display: flex;
	justify-content: center;
	align-items: center;
	color: #fff;
	float: right;
	font-size: 45px;
	width: 43px;
	height: 43px;
	text-align: center;
	font-weight: 100;
	background-color: #0064b0;
	transition: all ease 0.3s;
}

.request > .close {
	margin: -40px -40px 0 0;
}

.request > h3 {
	margin: 0;
	text-align: center;
	font-size: 34px;
	font-weight: 700;
}

.request > .descriptions {
	font-size: 18px;
	text-align: center;
}

.request {
	border: 10px solid rgba(1, 22, 59, 1);
	position: absolute;
	top: 50%;
	left: 50%;
	width: 400px;
	padding: 40px 40px 20px 40px;
	transform: translate(-50%, -50%);
	background: #f7f7f9;
	box-sizing: border-box;
	box-shadow: 0 15px 25px rgba(0, 0, 0, 0.5);
	transition: all ease 0.3s;
	-webkit-box-shadow: 0px -10px 19px 5px rgba(255, 255, 255, 0.5);
	-moz-box-shadow: 0px -10px 19px 5px rgba(255, 255, 255, 0.5);
	box-shadow: 0px -10px 19px 5px rgba(255, 255, 255, 0.5);
}
footer .der {
	display: flex;
	justify-content: space-between;
	width: 65%;
}
.request form {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.input_request:focus-visible {
	outline: none;
}

.SEO .title {
	text-align: left;
}

.input_request {
	margin: 5px 0;
	padding: 10px 10px 10px 40px;
	width: 270px;
	height: 25px;
	border: none;
	font-size: 16px;
	border: 1px solid #d7d7d7;
}

.send_request {
	font-size: 14px;
	padding: 10px;
	width: 190px;
	height: 45px;
	border: none;
	color: #fff;
	background: #0064b0;
	text-transform: uppercase;
	margin: 10px 0;
	cursor: pointer;
}

.few_desk,
.few_desk > a {
	padding: 0;
	margin: 0;
	font-size: 14px;
	text-align: center;
	color: #727272;
}

.interaction .interaction__block .column {
	background: url(../img/interaction_bg.png) center top;
	flex-direction: column;
	background-repeat: no-repeat;
	max-width: 310px;
	width: 100%;
	padding: 30px 20px;
}

.interaction .interaction__block .column:nth-child(2n) {
	background: url(../img/interaction_bg_2.png) center top;
}

.interaction .interaction__block .column:nth-child(2n) .more_button {
	background: #062d5b;
}

.interaction .interaction__block .column:nth-child(2n) .more_button:hover {
	border: 1px solid #062d5b;
	background: none;
	color: #062d5b;
}

.interaction .interaction__block .column:nth-child(3n) {
	background: url(../img/interaction_bg_3.png) center top;
}

.interaction .interaction__block .column span {
	font-size: 17px;
	width: 100%;
	font-weight: 500;
	padding-bottom: 12px;
	border-bottom: 1px solid #e1e1e1;
	position: relative;
	margin: 10px 0;
}

.interaction .interaction__block .column span::after {
	content: "";
	width: 80px;
	height: 2px;
	display: block;
	position: absolute;
	bottom: 0;
	left: 0;
}

.interaction .interaction__block .column span.orange::after {
	background: #ffaf26;
}

.interaction .interaction__block .column span.blue {
	margin-bottom: 10px;
}

.interaction .interaction__block .column span.blue::after {
	background: var(--blue-color);
}

.interaction .interaction__block .column p {
	font-size: 14px;
	display: flex;
	width: 100%;
}

.interaction .interaction__block .column p::before {
	content: "";
	max-width: 25px;
	width: 100%;
	height: 17px;
	background-size: 16px 17px;
	display: flex;
	background-repeat: no-repeat;
}

.interaction .interaction__block .column p.orange_checked::before {
	background: url(../img/checked_orange.png) center left;
	background-repeat: no-repeat;
}

.interaction .interaction__block .column p.blue_checked::before {
	background: url(../img/checked.png) center left;
	background-repeat: no-repeat;
}

.interaction .interaction__block .column p.dark_blue_checked::before {
	background: url(../img/checked_dark_blue.png) center left;
	background-repeat: no-repeat;
}

.interaction .interaction__block .column p {
	margin: 5px 0;
}

.interaction .interaction__block .column .row_box {
	flex-direction: column;
	margin-bottom: 30px;
}

.interaction .interaction__block .column:last-child .row_box h4 {
	margin-bottom: 0;
}

.interaction .interaction__block .column .row_box h4 {
	text-align: center;
	font-size: 18px;
	max-width: 250px;
	margin: 10px 0;
	font-weight: 500;
}

.interaction .interaction__block .column .row_box .dec {
	line-height: 1;
	font-size: 12px;
	text-align: center;
	color: #666666;
	max-width: 250px;
	margin-bottom: 0;
}

.when .decor_text {
	right: 50px;
	left: auto;
	font-size: calc(var(--index) * 1.5);
}

.interaction {
	color: #292b2c;
	flex-direction: column;
	background: url(../img/activity_bg.png) right bottom;
	background-color: #f6f6f7;
	background-repeat: no-repeat;
	padding: 70px 10px;
}

.interaction > p {
	max-width: 700px;
	text-align: center;
}

.product_slider_mobile .swiper-pagination {
	display: flex;
	justify-content: center;
	align-items: center;
	bottom: 18px !important;
}

.numbers .product_slider_mobile .swiper-pagination {
	bottom: 0 !important;
}

.product_slider_mobile .swiper-pagination span,
.equipment_slider .swiper-pagination span {
	background: #fff;
	opacity: 1;
}

.product_slider_mobile .swiper-pagination .swiper-pagination-bullet-active,
.equipment_slider .swiper-pagination .swiper-pagination-bullet-active {
	width: 12px;
	height: 12px;
	background-color: var(--blue-color);
}

.image_slider .swiper-pagination {
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	bottom: 20px !important;
	right: 20px;
	left: auto !important;
	width: fit-content !important;
}

.image_slider .swiper-pagination span {
	margin: 0 3px;
	width: 10px;
	height: 10px;
	background: #fff;
	opacity: 1;
}

.image_slider .swiper-pagination .swiper-pagination-bullet-active {
	background: #0064b0;
	width: 13px;
	height: 13px;
}

.order {
	position: relative;
	background: url(../img/order_bg.png) right;
	flex-direction: column;
	padding: 70px 10px;
}

.order .container_text {
	max-width: 100%;
	width: 100%;
}

.container_text__box p {
	max-width: 430px;
	margin: 0;
	color: #666666;
	font-size: 16px;
}

.container_text__box h5 {
	font-weight: 500;
	margin: 5px 0;
	font-size: 21px;
	color: #292b2c;
}

.container_text__box > div {
	margin-left: 20px;
}

.materials {
	flex-direction: column;
	padding: 70px 10px;
}

.materials .materials_content .text_content p {
	color: #666666;
}

.materials .materials_content img {
	-webkit-box-shadow: 10px 10px 0px 0px rgb(240 240 240);
	-moz-box-shadow: 10px 10px 0px 0px rgba(240, 240, 240, 1);
	box-shadow: 10px 10px 0px 0px rgb(240 240 240);
	margin-right: 40px;
}

.materials_slider {
	overflow-x: hidden;
}

.swiper_materials .swiper-pagination {
	position: relative;
	z-index: 9;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	padding: 10px;
}

.who {
	padding: 70px 10px;
	flex-direction: column;
	background: url(../img/numbers_bg.png) left bottom;
}

.who p {
	text-align: center;
	max-width: 650px;
}

.who .decor_text {
	right: 50px;
	left: auto;
}

.who_content {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.who_content .item {
	padding: 15px;
	background: #fff;
	margin: 10px;
	max-width: 230px;
	width: 100%;
}

.who_content .item .box_item {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	margin: 0 auto;
	background: #f4f3f4;
	padding: 20px;
	position: relative;
}

.who_content .item .box_item svg {
}

.who_content .item .box_item .square:last-child {
	left: 0;
	right: auto;
	top: auto;
	bottom: 0;
}

.who_content .item img {
	width: 55px;
}

.who_content .item p {
	font-size: 18px;
	font-weight: 500;
	margin: 10px 0;
}

.materials .decor_text {
	font-size: 80px;
}

.swiper_materials .swiper-pagination .custom_bullet_des {
	margin: 5px !important;
	background: #f2f1f1;
	width: fit-content;
	max-width: 200px;
	width: 100%;
	padding: 20px 30px;
	border-radius: 0;
	border: 1px solid #e4e4e4;
	opacity: 1;
	transition: all ease 0.4s;
	display: flex;
	justify-content: center;
	align-items: center;
	text-transform: uppercase;
	font-size: 14px;
	transition: all ease 0.4s;
}

.swiper_materials .swiper-pagination .swiper-pagination-bullet-active {
	background: var(--blue-color);
	color: #fff;
	font-weight: 500;
}

.materials .materials_content img,
.materials .materials_content .text_content {
	width: 50%;
}

.materials .materials_content .text_content h4 {
	font-size: 22px;
	color: #292b2c;
	margin: 0;
}

.numbers {
	padding: 70px 10px;
	position: relative;
	flex-direction: column;
	background: url(../img/numbers_bg.png);
}

.numbers .numbers_box {
	margin-top: 30px;
	justify-content: space-between;
	flex-wrap: wrap;
}

.numbers .column {
	width: 240px;
	background-color: #fff;
	padding: 15px;
	margin-bottom: 20px;
}

.numbers .column .box {
	position: relative;
	flex-direction: column;
	background-color: #f4f3f4;
	padding: 20px;
}

.numbers .column .box span {
	font-size: 24px;
	color: var(--blue-color);
	font-weight: 600;
	margin: 4px 0;
}

.numbers .numbers_box .column .box p {
	font-weight: 500;
	margin: 0;
	color: #292b2c;
	max-width: 150px;
	text-align: center;
}

.numbers .column .row {
	margin: 25px 0;
}

.numbers .column .row p {
	margin: 0;
	font-size: 16px;
	color: #666666;
	margin-left: 10px;
}

.patern {
	padding: 70px 10px;
	color: #fff;
	flex-direction: column;
	background: url(../img/patern_bg.png);
}

.patern .title {
	color: #fff;
}

.patern p {
	text-align: center;
	font-size: 20px;
	max-width: 900px;
}

.patern .decor_text {
	font-size: 70px;
	color: #133d6e;
}

.clients_slider {
	overflow-x: hidden;
}

.clients_slider .swiper-pagination,
.achievements_slider .swiper-pagination,
.equipment_slider .swiper-pagination {
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 5;
	position: relative;
	margin-top: 30px;
}

.clients_slider .swiper-pagination span {
	width: 10px;
	height: 10px;
	background: #fff;
	opacity: 1;
}

.achievements_slider .swiper-pagination span {
	width: 10px;
	height: 10px;
	background: #ececec;
	opacity: 1;
}

.clients_slider .swiper-slide {
	display: flex;
	justify-content: center;
}

.clients_slider .swiper-pagination .swiper-pagination-bullet-active,
.achievements_slider .swiper-pagination .swiper-pagination-bullet-active {
	background: var(--blue-color);
	width: 12px;
	height: 12px;
}

.achievements {
	padding: 70px 0;
	flex-direction: column;
	background: url(../img/achievements_bg.png) left bottom;
	position: relative;
}

.achievements_slider {
	overflow-x: hidden;
}

.achievement_content {
	position: relative;
	flex-direction: column;
	padding: 35px;
	color: #292b2c;
	max-width: 300px;
	height: 370px;
	width: 100%;
	background: #fff;
	text-align: center;
}

.achievement_content img {
	width: 228px;
}

.achievement_content span {
	color: #ffaf26;
	font-size: 48px;
	writing-mode: vertical-rl;
	text-align: center;
	-webkit-transform: rotate(-180deg);
	-moz-transform: rotate(-180deg);
	position: absolute;
	left: 10px;
	top: 35px;
	font-weight: 500;
}

.achievements .decor_text {
	right: 50px;
	left: auto;
	font-size: calc(var(--index) * 3);
}

.photos {
	flex-direction: column;
	background: url(../img/photos_bg.png) right bottom;
	padding: 70px 0;
}

.photos .album {
	margin-top: 30px;
	max-height: 705px;
}

.photos .album > img {
	width: 645px;
	margin-right: 30px;
}

.photos .album > div {
	width: calc(100% - 690px);
	height: 100%;
	position: relative;
}

.photos .album .container_img {
	position: relative;
	cursor: pointer;
	width: 100%;
	height: calc(50% - 30px);
}

.photos .album .container_img:hover img {
	filter: brightness(78%);
}

.photos .album .container_img:hover::after {
	opacity: 1;
}

.photos .album .container_img::after {
	transition: all ease 0.5s;
	opacity: 0;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	content: "-";
	width: 60px;
	height: 60px;
	font-size: 100px;
	color: transparent;
	background: url("../img/plus_orange.png");
	background-size: 50px;
	background-repeat: no-repeat;
	background-position: center;
}

.photos .album .container_img img {
	transition: all ease 0.5s;
	width: 100%;
}

/* увеличенная картинка */
#magnify {
	display: none;
	/* position: absolute; upd: 24.10.2016 */
	position: fixed;
	max-width: 800px;
	height: auto;
	z-index: 9999;
}
#magnify img {
	width: 100%;
}
/* затемняющий фон */
#overlay {
	display: none;
	background: #000;
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	opacity: 0.5;
	z-index: 9990;
}
/* кнопка закрытия */
#close-popup {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0 auto;
	width: 50px;
	height: 50px;
	background: var(--blue-color);
	cursor: pointer;
	position: absolute;
	top: 0px;
	right: 0px;
}
#close-popup i {
	width: 30px;
	height: 30px;
	background: url(../img/cross.png) no-repeat center center;
	background-size: 16px 16px;
	display: block;
}

.thanks {
	padding: 70px 0;
	background: url(../img/product_bg.png);
	flex-direction: column;
}

.thanks .achievements_slider {
	margin-top: 30px;
	overflow-x: hidden;
}

.when {
	flex-direction: column;
	background: url(../img/achievements_bg.png) left bottom;
	background-repeat: no-repeat;
	background-color: #fff;
	padding: 70px 10px;
	position: relative;
}

.thanks .title {
	color: #fff;
}

.interaction .slider_interaction .swiper-slide {
	display: flex;
	justify-content: center;
}

.request {
	border: 10px solid rgba(1, 22, 59, 1);
	position: absolute;
	top: 50%;
	left: 50%;
	width: 400px;
	padding: 40px 40px 20px 40px;
	transform: translate(-50%, -50%);
	background: #f7f7f9;
	box-sizing: border-box;
	box-shadow: 0 15px 25px rgba(0, 0, 0, 0.5);
	transition: all ease 0.3s;
	-webkit-box-shadow: 0px -10px 19px 5px rgba(255, 255, 255, 0.5);
	-moz-box-shadow: 0px -10px 19px 5px rgba(255, 255, 255, 0.5);
	box-shadow: 0px -10px 19px 5px rgba(255, 255, 255, 0.5);
}

.accordion summary {
	display: flex;
	margin: 0 auto;
	cursor: pointer;
	background: #fff;
	padding: 0px 20px;
	border: 1px solid var(--blue-color);
	transition: all ease 0.5s;
	align-items: center;
}

.accordion summary > span {
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 18px;
	font-weight: 500;
	color: var(--blue-color);
	max-width: 30px;
	width: 100%;
	height: 30px;
	text-align: center;
	border-radius: 50%;
	border: 1px solid var(--blue-color);
	margin-right: 10px;
}

.accordion summary h3 {
	font-weight: 500;
	color: var(--blue-color);
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: relative;
	width: 100%;
}

.content_when {
	align-items: flex-start;
	padding: 20px;
	border-left: 1px solid #dfdddd;
	border-right: 1px solid #dfdddd;
	border-bottom: 5px solid var(--blue-color);
}

.content_when .bold {
	font-weight: 500;
}

.accordion {
	margin: 30px 0;
}

.accordion summary h3 span {
	max-width: 20px;
	width: 100%;
	height: 2px;
	background: var(--blue-color);
	display: flex;
	justify-content: center;
	align-items: center;
}

.accordion summary h3 span::before {
	display: flex;
	position: absolute;
	content: "";
	width: 2px;
	height: 20px;
	background: var(--blue-color);
}

.accordion details[open] > summary:first-of-type {
	background: var(--blue-color);
}

.accordion details[open] > summary:first-of-type > span {
	color: var(--blue-color);
	border-color: #fff;
	background: #fff;
}

.accordion details[open] > summary:first-of-type h3 {
	color: #fff;
}

.accordion details[open] > summary:first-of-type h3 span {
	background: #fff;
}

.accordion details[open] > summary:first-of-type h3 span::before {
	display: none;
}

.accordion details {
	display: block;
	margin: 0 auto;
	width: 100%;
	margin-bottom: 1rem;
	transition: all ease 0.5s;
	background: #fff;
}

.content_when img {
	width: 30%;
	margin-right: 20px;
}

.content_when .column {
	width: 70%;
}

.content_when .column p {
	margin: 10px 0;
}

.content_when .column ul {
	padding: 0 20px;
}

.content_when .column li {
	color: var(--blue-color);
	margin: 20px 0;
}

.content_when .column li span {
	color: #666666;
}

.accordion summary > * {
	display: inline;
}

.thanks .decor_text {
	color: #133d6e;
	right: 50px;
	left: auto;
}

.SEO {
	background: url(../img/seo_bg.png);
	position: relative;
}

.SEO .content_text {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.SEO .title {
	line-height: 1.1;
}

.SEO .man_builder {
	height: 80%;
}

.questions {
	padding: 70px 0;
	background: url(../img/questions_bg.png);
}

.questions__form {
	position: relative;
	max-width: 800px;
	padding: 50px;
	flex-direction: column;
	background: rgba(7, 62, 128, 0.4);
	color: #fff;
}

.questions__form div {
	position: relative;
}

.questions__form .title {
	color: #fff;
	margin-top: 0;
}

.questions__form > p {
	text-align: center;
	font-size: 20px;
}

.questions__form input {
	position: relative;
	width: 200px;
	font-size: 16px;
	margin: 0 10px;
	padding: 18px 20px 18px 45px;
}

.questions__form .form_img {
	top: 16%;
	left: 25px;
	transform: translateY(50%);
	position: absolute;
	z-index: 3;
}

.questions__form input:focus-visible {
	outline: none;
}

.questions__form form .send {
	padding: 19px 49px;
	cursor: pointer;
	background: #ffaf26;
	color: #fff;
	transition: all ease 0.4s;
	border: 1px solid #ffaf26;
}

.questions__form form .send:hover {
	background: none;
	color: #ffaf26;
}

.SEO .content_text p {
	color: #666666;
}

footer .level_1__contact .phone,
footer .level_1__contact .email {
	color: #999999;
	font-size: 14px;
}

footer .level_1__contact .phone p > b,
footer .level_1__contact .email p > b {
	color: #292b2c;
	font-size: 18px;
}

.questions__form .desk {
	margin-bottom: 0;
	text-align: center;
	font-size: 14px;
}

.questions__form .desk a {
	color: #fff;
	transition: all ease 0.4s;
}

.questions__form .desk a:hover {
	color: var(--blue-color);
}

footer {
	border-top: 10px solid #0e3b6d;
}

footer .level_1 {
	padding: 40px 0 20px 0;
	justify-content: space-between;
	align-items: flex-start;
}

footer .level_1__logo {
	max-width: 200px;
	width: 100%;
	color: var(--blue-color);
}

footer .level_1__logo h1 {
	margin-left: 15px;
	font-size: 18px;
	text-transform: uppercase;
}

footer .level_1__menu .colum {
	margin: 0 20px;
	flex-direction: column;
}

footer .level_1__menu h4 {
	margin: 5px 0;
	font-size: 18px;
	color: #292b2c;
	padding-bottom: 10px;
	position: relative;
	text-transform: uppercase;
}

footer .level_1__menu h4::after {
	content: "";
	width: 25px;
	height: 2px;
	background: var(--blue-color);
	position: absolute;
	bottom: 0;
	left: 0;
}

footer .level_1__menu a {
	margin: 10px 0;
	font-size: 16px;
	transition: all ease 0.4s;
	text-decoration: none;
	color: #666666;
}

footer .level_1__menu a:hover {
	color: #0e3b6d;
	text-decoration: underline;
}

footer .level_1__contact {
	flex-direction: column;
}

footer .level_1__contact input {
	background: none;
	padding: 12px 20px 12px 10px;
	font-size: 16px;
	border: none;
	border-bottom: 1px solid #e1e0e0;
	margin-bottom: 10px;
}

footer .level_1__contact input:focus-visible {
	outline: none;
}

footer .level_2 {
	color: #999999;
	font-size: 14px;
}

footer .level_3 {
	background: #0e3b6d;
	color: #fff;
	font-size: 14px;
}

footer .level_3 .container {
	justify-content: space-between;
}

footer .level_3 a {
	color: #fff;
	transition: all ease 0.4s;
}

footer .level_3 a:hover {
	color: var(--blue-color);
}

/* !БУРГЕР МЕНЮ! */

.menu__box h4 {
	text-transform: uppercase;
	color: #2e2f30;
	font-size: 20px;
	margin: 0;
	padding-bottom: 15px;
	border-bottom: 1px solid #e4e3e3;
	position: relative;
	font-weight: 500;
	margin-bottom: 10px;
}

.menu__box h4::after {
	content: "";
	width: 25px;
	height: 2px;
	position: absolute;
	bottom: 0;
	left: 0;
	background-color: var(--blue-color);
}

#menu__toggle {
	opacity: 0;
	position: fixed;
}

#menu__toggle {
	opacity: 0;
	position: fixed;
}

#menu__toggle:checked ~ .menu__btn {
	background: #fff;
}

#menu__toggle:checked ~ .menu__btn > span {
	transform: rotate(45deg);
}

#menu__toggle:checked ~ .menu__btn > span,
#menu__toggle:checked ~ .menu__btn > span::before,
#menu__toggle:checked ~ .menu__btn > span::after {
	background-color: var(--blue-color);
}

#menu__toggle:checked ~ .menu__btn > span::before {
	top: 0;
	transform: rotate(0);
}

#menu__toggle:checked ~ .menu__btn > span::after {
	top: 0;
	transform: rotate(90deg);
}

#menu__toggle:checked ~ .menu__box {
	visibility: visible;
	top: 0;
}

#menu__toggle:checked ~ .logo_mobile h1 {
	color: #fff;
}

#menu__toggle:checked ~ .logo_mobile .logo_blue {
	opacity: 0;
}

#menu__toggle:checked ~ .logo_mobile .white_logo {
	opacity: 1;
}

.menu__btn {
	display: flex;
	align-items: center;
	position: absolute;
	top: 25px;
	right: 60px;
	width: 26px;
	height: 26px;
	cursor: pointer;
	padding: 5px;
	z-index: 16;
	background: var(--blue-color);
	border-radius: 2px;
}

.menu__btn > span,
.menu__btn > span::before,
.menu__btn > span::after {
	display: block;
	position: absolute;
	width: 25px;
	height: 3px;
	background-color: #fff;
	transition-duration: 0.25s;
}

.menu__btn > span::before {
	content: "";
	top: -8px;
}

.menu__btn > span::after {
	content: "";
	top: 8px;
}

.menu__box .level_1__left {
	align-items: flex-start;
}

.menu__box .level_1__left p {
	margin: 0;
}

.menu__box {
	z-index: 15;
	display: block;
	position: absolute;
	visibility: hidden;
	top: -650%;
	right: 0;
	width: calc(100% - 20px);
	height: fit-content;
	margin: 0;
	padding: 25px 10px;
	background-color: #f8f7f7;
	box-shadow: 1px 0px 6px rgba(0, 0, 0, 0.2);
	transition-duration: 0.25s;
	border-top: 88px solid var(--blue-color);
	border-bottom: 5px solid #ebad38;
}

.menu__box .level_2__contact {
	margin-left: -10px;
	flex-wrap: wrap;
}

.menu__box .level_2__contact p > b {
	font-size: 18px;
	color: #2e2f30;
}

.menu__box .level_2__contact img {
	width: 60px;
}

.menu__box ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

.menu__item {
	position: relative;
	display: block;
	padding: 10px 0px;
	border-bottom: 1px dashed #e4e4e4;
	color: #5d5d5e;
	font-size: 15px;
	font-weight: 400;
	text-decoration: none;
	transition-duration: 0.25s;
}

.menu__item::after {
	content: "";
	display: block;
	position: absolute;
	right: 0;
	top: 15px;
	width: 5px;
	height: 9px;
	background: url(../img/next.png);
}

.request form div {
	display: flex;
	align-items: center;
	position: relative;
}

.request form div img {
	position: absolute;
	left: 15px;
}

.menu__box .right_bottom_content .contact_text {
	color: #000;
}

.menu__box .right_bottom_content .slider_contact {
	margin-left: 24px;
}

.menu__box .left_content {
	margin-top: 30px;
	margin-left: 20px;
	display: flex;
	flex-direction: column;
}

.menu__box .left_content a {
	color: #000;
	text-decoration: none;
	transition: all ease 0.4s;
	padding: 3px 0;
}

.menu__box .left_content a:hover {
	color: #7fbce8;
	text-decoration: underline;
}

.level_1__contact .search {
	position: relative;
	display: flex;
	align-items: center;
	width: fit-content;
}

.level_1__contact .search img {
	position: absolute;
	right: 0;
	width: 16px;
	margin-bottom: 7px;
	cursor: pointer;
}

.SEO .container {
	padding: 20px;
}

footer .level_1 {
	padding: 40px 10px 20px 10px;
}

footer .level_2,
footer .level_3 {
	padding: 0 10px;
}

footer .container {
	width: calc(100% - 20px);
}

@media (max-width: 1630px) {
	.level_2__contact p > b,
	footer .level_1__contact {
		font-size: 16px;
	}
	.level_2__menu a {
		padding: 0 25px;
	}
	.header_slider .more_down {
		left: 20px;
		bottom: 20px;
	}
	.navigation_block {
		bottom: 40px;
		right: 20px;
	}
}

@media (max-width: 1530px) {
	.level_2__menu a {
		padding: 0 15px;
	}
	.level_2__contact img {
		width: 60px;
	}
	header .button_request {
		padding: 12px 25px;
	}
	.level_2__logo h1 {
		max-width: 130px;
	}
}

@media (max-width: 1475px) {
	.equipment .decor_text,
	.numbers .decor_text,
	.products .decor_text,
	.when .decor_text,
	.who .decor_text,
	.achievements .decor_text,
	.thanks .decor_text {
		right: 30px;
	}
	.decor_text {
		left: 30px;
	}
}

@media (max-width: 1425px) {
	.header_slider .more_down p {
		display: none;
	}
}

@media (max-width: 1400px) {
	.decor_text {
		display: none;
	}
}

@media (max-width: 1350px) {
	.level_2__contact img {
		width: 50px;
	}
	.level_2__menu a {
		max-width: 100px;
		text-align: center;
	}
	.level_1__right > a {
		padding: 3px 10px;
	}
	header .button_request_mobile {
		display: block !important;
	}
	header .button_request:hover {
		background: #f9a01b;
	}
	.box_slider_content img {
		width: 600px;
	}
	.box_slider_content .text_content h2 {
		font-size: 36px;
	}
	#title_slider {
		font-size: 36px;
	}
	.box_slider_content .text_content .desk_text {
		font-size: 16px;
	}
	.box_slider_content .text_content .sub_title,
	#TPA_info {
		font-size: 12px;
	}
	#TPA_info {
		bottom: -150px;
	}
}

@media (max-width: 1200px) {
	header .level_1,
	header .level_2 {
		display: none;
	}
	header .mobile_header {
		display: flex;
	}
	header .button_request {
		padding: 7px 7px 4px 7px;
	}
}

@media (max-width: 1170px) {
	.photos .album {
		flex-direction: column;
		max-height: fit-content;
		max-width: 700px;
		width: 100%;
	}
	.photos .album > img {
		margin-bottom: 30px;
	}
	.photos .album > img,
	.photos .album > div {
		width: 100%;
	}
	.numbers .numbers_box {
		justify-content: center;
	}
	.numbers .numbers_box .column {
		margin: 10px;
	}
	.activity .text_content {
		padding: 20px;
	}
	.products .box_products {
		flex-direction: column;
		align-items: center;
		max-width: 660px;
	}
	.products,
	.numbers {
		padding: 50px 10px;
	}
	.products .main_product {
		margin-bottom: 20px;
		margin-left: 0;
	}
	.products .other_products {
		width: 100%;
		box-shadow: none;
		grid-auto-rows: 52%;
	}
	.products .main_product {
		width: calc(100% - 100px);
		box-shadow: none;
		margin-bottom: 20px;
		margin-right: 0;
	}
	.products .other_products .product_small {
		max-width: 340px;
		width: 100%;
		max-height: 340px;
		height: 100%;
		justify-content: center;
	}
	.photos {
		padding: 50px 10px;
	}
	.questions__form form {
		flex-direction: column;
	}
	.questions__form form input {
		margin: 5px 0;
	}
	.questions__form form input.send {
		max-width: 267px;
		width: 100%;
	}
	.questions__form .form_img {
		top: 21%;
	}
}

@media (max-width: 1080px) {
	footer .der {
		width: 71%;
	}
	.image_slider {
		margin-right: 12px;
	}
	.interaction .interaction__block {
		justify-content: center;
	}
	.interaction .interaction__block .column {
		margin: 10px;
	}
	.header_slider .swiper-pagination {
		display: flex;
		justify-content: center;
		align-items: center;
		top: calc(50% + 120px) !important;
	}
	.header_slider .swiper-pagination span {
		opacity: 1;
		background: #fff;
	}
	.header_slider .swiper-pagination .swiper-pagination-bullet-active {
		background: var(--blue-color);
		width: 12px;
		height: 12px;
	}
	.header_slider .box_slider_content {
		height: calc(100vh - 88px);
	}
	.navigation_block {
		display: none;
	}
	.box_slider_content img {
		display: none;
	}
	.header_slider .more_down {
		transform: translate(50%, 50%);
		right: 50%;
		bottom: 30px;
	}
	.box_slider_content .text_content {
		text-align: center;
		background: url(../img/mobile_header_slider.png) center center;
		background-size: cover;
	}
	.box_slider_content .text_content {
		justify-content: center;
		align-items: center;
	}
	.box_slider_content .more_button {
		padding: 15px 20px;
		border: 2px solid #fff;
	}
	.box_slider_content .more_button svg {
		margin-left: 15px !important;
	}
	#title_slider,
	.box_slider_content .text_content .sub_title,
	.box_slider_content .text_content .desk_text,
	.box_slider_content .text_content h2 {
		max-width: 700px;
	}
}

@media (max-width: 910px) {
	footer .der {
		flex-direction: column;
		width: fit-content;
		margin-right: 20px;
	}
	.SEO .container {
		padding: 20px;
	}
	.materials_content {
		flex-direction: column;
	}
	.materials_content > img {
		margin-right: 0;
		margin-bottom: 30px;
	}
	.materials .materials_content img,
	.materials .materials_content .text_content {
		width: 100%;
	}
	.order .box_order {
		flex-direction: column;
		max-width: 556px;
	}
	.image_slider {
		margin-right: 10px;
		margin-bottom: 30px;
	}
	.activity .block_one,
	.activity .block_two {
		max-width: 700px;
		flex-direction: column;
	}
	.activity .block_one img,
	.activity .block_two img {
		width: 100%;
	}
	.activity .text_content {
		width: auto;
	}
	.activity .more_button {
		display: flex;
		width: fit-content;
	}
	.activity .text_content p {
		margin-bottom: 20px;
	}
	.activity {
		padding: 50px 10px;
	}
	.decor_text {
		display: none;
	}
	.SEO .man_builder {
		display: none;
	}
	footer .level_1 {
		align-items: flex-end;
		justify-content: center;
	}
	footer .level_1__menu .colum {
		margin: 0;
		margin-right: 20px;
	}
	footer .level_1__contact .phone,
	footer .level_1__contact .email {
		margin-left: -10px;
	}
	footer .level_1__logo img {
		width: 45px;
	}
	footer .level_1__contact {
		flex-direction: column-reverse;
	}
}

@media (max-width: 670px) {
	footer .der {
		margin-right: 0;
	}
	footer .level_1 {
		justify-content: flex-start;
		flex-direction: column;
		align-items: center;
	}
}

@media (max-width: 500px) {
	.level_1__contact .search {
		width: 100%;
	}
	footer .level_1__contact .search input {
		width: 100%;
	}
	footer .level_1,
	footer .level_2 {
		background: url(../img/achievements_bg.png);
		background-size: contain;
	}
	.request > h3 {
		font-size: 23px;
	}
	.request > .descriptions {
		font-size: 16px;
	}
	.input_request {
		width: 200px;
	}
	.who_content .item {
		max-width: 115px;
		padding: 10px;
		margin: 3px;
	}
	.who_content .item .box_item img {
		width: 45px;
	}
	.who_content .square {
		width: 15px;
		height: 15px;
	}
	.who_content .item p {
		font-size: 14px;
	}
	.equipment .more_button {
		font-size: 15px;
	}
	.swiper_materials .swiper-pagination {
		flex-wrap: nowrap;
	}
	.swiper_materials .swiper-pagination .swiper-pagination-bullet-active-next,
	.swiper_materials
		.swiper-pagination
		.swiper-pagination-bullet-active-next-next,
	.swiper_materials
		.swiper-pagination
		.swiper-pagination-bullet-active-prev-prev,
	.swiper_materials .swiper-pagination .swiper-pagination-bullet-active-prev {
		transform: scale(1);
	}
	.swiper_materials
		.swiper-pagination
		.swiper-pagination-bullet-active-next-next,
	.swiper_materials .swiper-pagination .swiper-pagination-bullet-active-prev {
		opacity: 0.4;
	}
	.swiper_materials .swiper-pagination .custom_bullet_des {
		max-width: 55px;
	}
	.materials
		.swiper_materials
		.swiper-pagination-bullets.swiper-pagination-bullets-dynamic {
		left: 65%;
	}
	.interaction .pc_interaction__block {
		display: none;
	}
	.interaction .more_button {
		text-align: center;
		padding: 15px 40px;
	}
	.interaction .interaction__block .column {
		background-color: #fff;
	}
	.interaction .slider_interaction {
		display: block;
	}
	.order,
	.patern,
	.achievements,
	.thanks,
	.SEO,
	.questions,
	.interaction,
	.equipment,
	.who,
	.when,
	.materials {
		padding: 50px 10px;
	}
	.questions__form {
		padding: 10px;
	}
	.questions__form input {
		max-width: 170px;
	}
	.achievement_content img {
		width: 180px;
	}
	.achievement_content {
		padding: 20px;
		max-width: 240px;
	}
	.achievement_content span {
		top: 20px;
		left: 0;
	}
	.container_text__box h5 {
		font-size: 18px;
	}
	.order .more_button {
		font-size: 13px;
		display: flex;
		width: fit-content;
	}
	.container_text__box img {
		width: 80px;
		height: 80px;
	}
	.box_order {
		flex-direction: column;
	}
	.SEO .title {
		text-align: left;
	}
	.menu__box .level_2__contact {
		flex-direction: column;
		align-items: flex-start;
	}
	.menu__box .level_2__contact .email {
		margin-left: 0px;
	}
	.box_slider_content .text_content h2 {
		font-size: 25px;
	}
	#title_slider,
	.title {
		text-align: center;
		font-size: 25px;
	}
	.box_slider_content .text_content .desk_text,
	.container_text__box p,
	.patern p {
		font-size: 15px;
	}
	.box_slider_content .text_content .sub_title,
	#TPA_info {
		font-size: 11px;
		margin: 0;
	}
	#TPA_info {
		bottom: -150px;
	}
	.box_slider_content .more_button {
		font-size: 13px;
	}
	.box_slider_content .text_content > div {
		padding: 10px;
	}
	.activity > img,
	.products > img,
	.order > img,
	.patern > img,
	.thanks > img,
	.photos > img,
	.SEO .content_text > img,
	.questions__form > img,
	.interaction > img,
	.equipment > img,
	.who > img,
	.when > img,
	.materials > img {
		width: 100px;
	}
	.accordion summary h3 {
		font-size: 15px;
	}
	.content_when img,
	.content_when .column {
		width: 100%;
	}

	.content_when {
		flex-direction: column;
	}
	.questions__form > p {
		font-size: 18px;
	}
	.descriprions,
	.activity .text_content p {
		font-size: 15px;
	}
	.activity .text_content h3 {
		font-size: 19px;
	}
	.activity .more_button {
		padding: 15px 15px;
	}
	.activity .more_button svg {
		margin-left: 15px !important;
	}
	.box_products {
		display: none;
	}
	.product_slider_mobile {
		display: block;
	}
	.numbers_box {
		display: none;
	}
	footer .level_1__logo h1 {
		font-size: 14px;
	}
	footer .level_1__menu h4 {
		font-size: 16px;
	}
	footer .level_1__menu {
		align-items: flex-start;
	}
	footer .level_1__menu .colum {
		margin-right: 10px;
		margin-top: 15px;
	}
	footer .level_3 .container {
		flex-direction: column;
		align-items: flex-start;
		padding-bottom: 10px;
	}
	footer .level_3 {
		justify-content: flex-start;
	}
}

@media (max-width: 400px) {
	.request {
		width: 95%;
	}
}

@media (max-width: 380px) {
	.equipment_slider .equipment_content .characteristic {
		flex-direction: column;
		justify-content: flex-start;
		align-items: flex-start;
	}
	.more_button {
		font-size: 12px;
		margin-top: 10px;
	}
	#TPA_info {
		left: calc(50% - 160px);
	}
	.equipment {
		background: url(../img/bg_mobile.png);
	}
	.numbers {
		background: url(../img/bg_mobile_2.png) bottom left;
		background-color: #f2f2f3;
		background-size: contain;
		background-repeat: no-repeat;
	}
	.patern {
		background: url(../img/bg_mobile_3.png) bottom right;
		background-color: #062d5b;
		background-size: contain;
		background-repeat: no-repeat;
	}
}

@media (max-width: 320px) {
	.more_button {
		padding: 12px 20px;
	}
}

@media (min-width: 2000px) {
	.decor_text {
		font-size: calc(var(--index) * 3);
	}
	.achievements .decor_text {
		font-size: calc(var(--index) * 2);
	}
	.products .decor_text {
		font-size: calc(var(--index) * 3);
	}
	.when .decor_text {
		font-size: calc(var(--index) * 0.6);
	}
}
