@font-face {
    font-family: 'PF Highway Sans Pro';
    src: url('PFHighwaySansPro-Italic.eot');
    src: local('PFHighwaySansPro-Italic'),
        url('PFHighwaySansPro-Italic.eot?#iefix') format('embedded-opentype'),
        url('PFHighwaySansPro-Italic.woff2') format('woff2'),
        url('PFHighwaySansPro-Italic.woff') format('woff'),
        url('PFHighwaySansPro-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'PF Highway Sans Pro Extra';
    src: url('PFHighwaySansPro-ExtraThin.eot');
    src: local('PFHighwaySansPro-ExtraThin'),
        url('PFHighwaySansPro-ExtraThin.eot?#iefix') format('embedded-opentype'),
        url('PFHighwaySansPro-ExtraThin.woff2') format('woff2'),
        url('PFHighwaySansPro-ExtraThin.woff') format('woff'),
        url('PFHighwaySansPro-ExtraThin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'PF Highway Sans Pro';
    src: url('PFHighwaySansPro-Light.eot');
    src: local('PFHighwaySansPro-Light'),
        url('PFHighwaySansPro-Light.eot?#iefix') format('embedded-opentype'),
        url('PFHighwaySansPro-Light.woff2') format('woff2'),
        url('PFHighwaySansPro-Light.woff') format('woff'),
        url('PFHighwaySansPro-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'PF Highway Sans Pro';
    src: url('PFHighwaySansPro-Medium.eot');
    src: local('PFHighwaySansPro-Medium'),
        url('PFHighwaySansPro-Medium.eot?#iefix') format('embedded-opentype'),
        url('PFHighwaySansPro-Medium.woff2') format('woff2'),
        url('PFHighwaySansPro-Medium.woff') format('woff'),
        url('PFHighwaySansPro-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'PF Highway Sans Pro';
    src: url('PFHighwaySansPro-Thin.eot');
    src: local('PFHighwaySansPro-Thin'),
        url('PFHighwaySansPro-Thin.eot?#iefix') format('embedded-opentype'),
        url('PFHighwaySansPro-Thin.woff2') format('woff2'),
        url('PFHighwaySansPro-Thin.woff') format('woff'),
        url('PFHighwaySansPro-Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'PF Highway Sans Pro';
    src: url('PFHighwaySansPro-BoldItalic.eot');
    src: local('PFHighwaySansPro-BoldItalic'),
        url('PFHighwaySansPro-BoldItalic.eot?#iefix') format('embedded-opentype'),
        url('PFHighwaySansPro-BoldItalic.woff2') format('woff2'),
        url('PFHighwaySansPro-BoldItalic.woff') format('woff'),
        url('PFHighwaySansPro-BoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'PF Highway Sans Pro';
    src: url('PFHighwaySansPro-ThinItalic.eot');
    src: local('PFHighwaySansPro-ThinItalic'),
        url('PFHighwaySansPro-ThinItalic.eot?#iefix') format('embedded-opentype'),
        url('PFHighwaySansPro-ThinItalic.woff2') format('woff2'),
        url('PFHighwaySansPro-ThinItalic.woff') format('woff'),
        url('PFHighwaySansPro-ThinItalic.ttf') format('truetype');
    font-weight: 100;
    font-style: italic;
}

@font-face {
    font-family: 'PF Highway Sans Pro Extra';
    src: url('PFHighwaySansPro-ExtraThinItalic.eot');
    src: local('PFHighwaySansPro-ExtraThinItalic'),
        url('PFHighwaySansPro-ExtraThinItalic.eot?#iefix') format('embedded-opentype'),
        url('PFHighwaySansPro-ExtraThinItalic.woff2') format('woff2'),
        url('PFHighwaySansPro-ExtraThinItalic.woff') format('woff'),
        url('PFHighwaySansPro-ExtraThinItalic.ttf') format('truetype');
    font-weight: 100;
    font-style: italic;
}

@font-face {
    font-family: 'PF Highway Sans Pro';
    src: url('PFHighwaySansPro-MediumItalic.eot');
    src: local('PFHighwaySansPro-MediumItalic'),
        url('PFHighwaySansPro-MediumItalic.eot?#iefix') format('embedded-opentype'),
        url('PFHighwaySansPro-MediumItalic.woff2') format('woff2'),
        url('PFHighwaySansPro-MediumItalic.woff') format('woff'),
        url('PFHighwaySansPro-MediumItalic.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'PF Highway Sans Pro';
    src: url('PFHighwaySansPro-BlackItalic.eot');
    src: local('PFHighwaySansPro-BlackItalic'),
        url('PFHighwaySansPro-BlackItalic.eot?#iefix') format('embedded-opentype'),
        url('PFHighwaySansPro-BlackItalic.woff2') format('woff2'),
        url('PFHighwaySansPro-BlackItalic.woff') format('woff'),
        url('PFHighwaySansPro-BlackItalic.ttf') format('truetype');
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: 'PF Highway Sans Pro';
    src: url('PFHighwaySansPro-Black.eot');
    src: local('PFHighwaySansPro-Black'),
        url('PFHighwaySansPro-Black.eot?#iefix') format('embedded-opentype'),
        url('PFHighwaySansPro-Black.woff2') format('woff2'),
        url('PFHighwaySansPro-Black.woff') format('woff'),
        url('PFHighwaySansPro-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'PF Highway Sans Pro';
    src: url('PFHighwaySansPro-LightItalic.eot');
    src: local('PFHighwaySansPro-LightItalic'),
        url('PFHighwaySansPro-LightItalic.eot?#iefix') format('embedded-opentype'),
        url('PFHighwaySansPro-LightItalic.woff2') format('woff2'),
        url('PFHighwaySansPro-LightItalic.woff') format('woff'),
        url('PFHighwaySansPro-LightItalic.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'PF Highway Sans Pro';
    src: url('PFHighwaySansPro-Bold.eot');
    src: local('PFHighwaySansPro-Bold'),
        url('PFHighwaySansPro-Bold.eot?#iefix') format('embedded-opentype'),
        url('PFHighwaySansPro-Bold.woff2') format('woff2'),
        url('PFHighwaySansPro-Bold.woff') format('woff'),
        url('PFHighwaySansPro-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'PF Highway Sans Pro';
    src: url('PFHighwaySansPro-Regular.eot');
    src: local('PFHighwaySansPro-Regular'),
        url('PFHighwaySansPro-Regular.eot?#iefix') format('embedded-opentype'),
        url('PFHighwaySansPro-Regular.woff2') format('woff2'),
        url('PFHighwaySansPro-Regular.woff') format('woff'),
        url('PFHighwaySansPro-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

